{% extends "admin/change_list.html" %}
{% load i18n advanced_admin_tags %}

{% block object-tools %}{% endblock %}
{% block content-navbar-collapse %}{% endblock %}

{% block content %}
    <br/>
<div>

    {% if request.POST %}
        <p class="errornote">{% trans "Please correct the errors below." %}</p>
        {{ settings_form.non_field_errors }}
    {% endif %}

    <form method="post" class="form-horizontal" id="settings-form">
    {% csrf_token %}
    {% for field in settings_form %}
        {% ifchanged field.group %}
            {% if not forloop.first %}
            </div></div>
            {% endif %}
            <div class="panel">
                <div class="panel-heading">
                    <h2>{% trans field.group %}</h2>
                </div>
                <div class="panel-body">
        {% endifchanged %}
        <div class="form-group">
        {% if field|widget_type == "checkboxinput" %}
            <div class="col-sm-2 col-xs-12"></div>
            <div class="col-sm-10 col-xs-12">
                <div class="togglebutton togglebutton-material-blue-400">
                    <label>
                        {{ field }}
                        <span class="toggle">
                            <span class="check"></span>
                        </span>
                        <strong>{{ field.label }}</strong>
                    </label>
                </div>
                {% if field.help_text %}
                    <em class="hint">{{ field.help_text }}</em>
                {% endif %}
            </div>
        {% else %}
            <label for="{{ field.auto_id }}" class="control-label col-sm-2">{{ field.label }}</label>
            <div class="col-sm-10">
                {% dab_field_rendering field %}{{ field.errors }}
            </div>
        {% endif %}
        </div>
        {% if forloop.last %}
            </div></div>
        {% endif %}
    {% endfor %}

    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" class="btn btn-material-blue-400 pull-right"><i class="mdi-content-save"></i>&nbsp;{% trans "Save" %}</button>
        </div>
    </div>
    </form>

</div>
{% endblock %}
