{% load i18n admin_urls %}
<div class="pull-left">
    {% if show_delete_link %}
        {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
        <a class="btn btn-danger deletelink" href="{% add_preserved_filters delete_url %}">{% trans "Delete" %}</a>
    {% endif %}
</div>
<div class="pull-right">
{% if show_save_as_new %}<button type="submit" class="btn btn-default" name="_saveasnew" {{ onclick_attrib }}>{% trans 'Save as new' %}</button>{% endif %}
{% if show_save_and_add_another %}<button type="submit" class="btn btn-default" name="_addanother" {{ onclick_attrib }}>{% trans 'Save and add another' %}</button>{% endif %}
{% if show_save_and_continue %}<button type="submit" class="btn btn-default" name="_continue" {{ onclick_attrib }}>{% trans 'Save and continue editing' %}</button>{% endif %}
{% if show_save %}<button type="submit" class="btn btn-primary default" name="_save" {{ onclick_attrib }}>{% trans 'Save' %}</button>{% endif %}
</div>
<div class="spacer"></div>
