{% load pages_tags i18n staticfiles advanced_admin_tags %}

<ol>
    {% for page in page_branch %}
    <li id="ordering_{{ page.id }}" class="page page-status-{{ page.status }}" data-menus="all-menus {% get_menus_for_page page as menus %}{% for menu in menus %}{{ menu|slugify }}{% if not forloop.last %} {% endif %}{% endfor %}" data-page-id="{{ page.id }}">
        <div>
            <div class="page-title pull-left">
                <span class="tree-toggle" id="page-{{ page.id }}">
                    <span class="btn-link">
                        <span class="icon tree-open mdi-content-add mdi-material-blue-700"></span>
                        <span class="icon tree-close mdi-content-remove mdi-material-blue-700" style="display:none"></span>
                    </span>
                </span>

                {% set_page_permissions page %}
                {% if page.perms.change %}
                <a href="{% url "admin:pages_page_change" page.id %}{% if not page.is_primary %}?parent={{ page.parent_id }}{% endif %}"
                    class="changelink">{{ page.title.strip|default:"&nbsp;" }}</a>
                {% else %}
                <span class="uneditable">{{ page.title }}</span>
                {% endif %}

                <small class="text-muted text-small">({% get_content_model_for_page page %})</small>
            </div>

            <div class="pull-right" role="group">

                <!-- Draft / publish -->
                <span class="togglebutton togglebutton-material-blue-700 toggle-draft">
                    <label>
                        <span class="page-status">{{ page.get_status_display }}</span>
                        <input type="checkbox"{% if page.status > 1 %} checked{% endif %}>
                        <span class="toggle"></span>
                    </label>
                </span>

                {% if page.perms.add %}
                <div class="btn-group" role="group">
                    <button class="btn btn-material-blue-grey-50 dropdown-toggle" type="button" id="addpage-{{ page.id }}" data-toggle="dropdown" aria-haspopup="true">
                        {% trans "Add" %} ...
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu addlist" aria-labelledby="addpage-{{ page.id }}" id="addlink-{{ page.id }}">
                        {% for model in page_models %}
                        <li>
                            {% set_model_permissions model %}
                            {% if model.perms.add %}
                            <a href="{{ model.add_url }}?parent={{ page.id }}">{{ model.meta_verbose_name|capfirst }}</a>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                {% if page.perms.change %}
                <span class="ordering btn mdi-action-swap-vert"></span>
                {% endif %}

                {% if page.perms.delete %}
                <a href="{% url "admin:pages_page_delete" page.id %}?fromtree" class="delete btn mdi-content-clear"></a>
                {% else %}
                <span class="delete btn btn-default" style="opacity: 0.5"></span>
                {% endif %}
            </div>
            <div class="clearfix"></div>
        </div>
        {% page_menu page %}
    </li>
    {% endfor %}
</ol>
