{% extends "admin/change_list.html" %}
{% load pages_tags i18n staticfiles advanced_admin_tags admin_list %}

{% block extrahead %}
    {{ block.super }}
    <script>window.__page_ordering_url = '{% url "admin_page_ordering" %}';</script>
    {#<script src="{% static "admin/js/jquery-sortable.js" %}"></script>#}
    <script src="{% static "admin/js/jquery-ui-1.10.4.custom.min.js" %}"></script>
    <script src="{% static "admin/js/jquery.nestedSortable.js" %}"></script>
    <script src="{% static "admin/js/page_tree.js" %}"></script>
{% endblock %}

{% block navbar %}{% endblock %}
{% block object-tools %}{% endblock %}

{% block content %}

    <div class="row">
        <div id="menu-filter" class="col-xs-10">
            {% get_menus_for_page as menus %}
            <p>{% trans "Filter by menu" %} ...</p>
            <div class="radio radio-material-blue-700">
                <label>
                    <input type="radio" value="all-menus" name="menu_filter" checked>
                    <span class="circle"></span>
                    <span class="check"></span>
                    {% trans "All" %}
                </label>
            </div>
            {% for menu_id, menu_name, menu_template in menus %}
            <div class="radio radio-material-blue-700">
                <label>
                    <input type="radio" value="{{ menu_name|slugify }}" name="menu_filter">
                    <span class="circle"></span>
                    <span class="check"></span>
                    {{ menu_name }}
                </label>
            </div>
            {% endfor %}
        </div>

        {% if has_add_permission %}
        <div id="addlist-primary" class="col-xs-2">
            <div class="dropdown">
                <a class="btn btn-material-blue-700 btn-fab btn-raised mdi-content-add" type="button" id="addpage" data-toggle="dropdown" aria-haspopup="true">
                    <span class="sr-only">{% trans "Add" %} ...</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="addpage">
                    {% for model in page_models %}
                        <li>
                            {% set_model_permissions model %}
                            {% if model.perms.add %}
                                <a href="{{ model.add_url }}">{{ model.meta_verbose_name|capfirst }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

    </div>

    <div id="content-main">
    {% if cl.result_count == 0 %}
        <p class="paginator">0 {{ cl.opts.verbose_name_plural }}</p>
    {% else %}
        <div id="tree">{% page_menu "pages/menus/admin.html" %}</div>
    {% endif %}
    </div>
{% endblock %}
