{% extends "admin/change_list.html" %}
{% load pages_tags i18n staticfiles %}

{% block extrahead %}
{{ block.super }}
<script>window.__page_ordering_url = '{% url "admin_page_ordering" %}';</script>
<script src="{% static "admin/js/jquery-sortable.js" %}"></script>
<script src="{% static "admin/js/page_tree.js" %}"></script>
<style>
    #tree {
        width: 100%;
    }
    .page-title-wrapper>div {
        display: inline-block;
    }
    #tree .row {
        padding: 10px 0;
        background: #e7e7e7;
        border: 1px solid #f8f8f8;
        font-size: 110%;
    }
    #tree ol {
        list-style: none;
    }
    .tree-toggle {
        margin-right: 20px;
        cursor: pointer;
    }
    .mr10 {
        margin-right: 10px;
    }
    .mb25 {
        margin-bottom: 25px;
    }
    .page-title-wrapper {
        margin-top: 8px;
    }
    #tree .tree-placeholder {
        height: 50px;
        width: 100%;
        margin: 0;
        padding: 0;
        border: 1px dashed #333;
    }
</style>
{% endblock %}

{% block content %}
<div id="content-main">
    <div>

    {% if has_add_permission %}
    <div id="addlist-primary" class="pull-right mb25">
        <div class="dropdown">
            <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="addpage" data-toggle="dropdown" aria-haspopup="true">
            {% trans "Add" %} ...
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="addpage">
                {% for model in page_models %}
                <li>
                    {% set_model_permissions model %}
                    {% if model.perms.add %}
                    <a href="{{ model.add_url }}">{{ model.meta_verbose_name|capfirst }}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    <div class="clearfix"></div>

    {% if cl.result_count == 0 %}
    <p class="paginator">0 {{ cl.opts.verbose_name_plural }}</p>
    {% else %}
    <div id="tree">{% page_menu "pages/menus/admin.html" %}</div>
    {% endif %}
    </div>

</div>
{% endblock %}
